body {
  background-color: rgb(170, 195, 228);
}
  
  /* Properties for jumbotron */
  .jumbotron {
    background-image: url("Climate Change Background.jpg");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Full height */
    height: 100%;
  }

  /* Makes an offset when reaching target from Navbar */
  :target::before {
    content: "";
    display: block;
    height: 60px;
    margin: -60px 0 0;
  }
  
  /* Makes hyper-links not overlap with text */
  a {
    word-wrap: break-word;
  }

  /* Makes hyperlink not overlap with text */
  .no_overlap {
    display: inline-block;
  }

  /* Styling for Title of webpage */
  h1 {
    color: blue;
    text-align: center;
    font-family: verdana;
    font-size: 40px;
  }
  
  /* Styling for header of jumbotron */
  h2 {
    color: darkblue;
    font-family: verdana;
    font-size: 30px;
  }

  /* Styling for header of grids */
  h3 {
    color: darkblue;
    font-family: verdana;
    font-size: 30px;
  }

  /* Styling for the description of jumbotron */
  p1 {
    font-family: verdana;
    font-size: 20px;
    }

  /* Styling for the description in grids */
  p2 {
    font-family: verdana;
    font-size: 20px;
  } 

  /* Makes divs with the specified class have a lightblue background */
  .container-fluid {background-color: lightblue;}

  /* Class for center alignment */
  .centered {
    text-align: center;
  }

  /* Class for justify alignment */
  .justify {
    text-align: justify;
  }

  #more-1 {display: none;}

  #more-2 {display: none;}
